# Ignore everything
*

# But not these files...
!.gitignore
!*.py
!README.md
!requirements.txt

# And not these specific files
!london_crime_map_high_res.png
!london_crime_map_interactive.html
!route_map_51.5394_-0.1425_to_51.5367_-0.1448.png

# Even if they are in subdirectories
!*/

# Ignore everything in subdirectories except .py files
*/*
!*/*.py
